
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline justify-content-between" aria-label="Secondary navigation">
    <div class="d-flex">
      <a class="nav-link active" aria-current="page" href="#">Панель</a>
      <a class="nav-link" href="#">
        Друзья
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Обзор</a>
      <a class="nav-link" href="#">Предложения</a>
      <a class="nav-link" href="#">Ссылка</a>
      <a class="nav-link" href="#">Ссылка</a>
      <a class="nav-link" href="#">Ссылка</a>
      <a class="nav-link" href="#">Ссылка</a>
      <a class="nav-link" href="#">Ссылка</a>
    </div>
    <div class="d-flex align-items-center">
      <input class="search form-control me-2" type="search" placeholder="Поиск карт" aria-label="Поиск карт">
    </div>
  </nav>
</div>
