<div class="card">
  <div class="card-header">Регистрация</div>

  <div class="card-body">
    <form [formGroup]="registerForm" (submit)="registration()">
      <div class="form-group row">
        <label for="name" class="col-md-4 col-form-label text-md-right">Имя</label>

        <div class="col-md-6">
          <input id="name" formControlName="name" type="text" class="form-control" required autocomplete="name" autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

        <div class="col-md-6">
          <input id="email" formControlName="email" type="email" class="form-control" required autocomplete="email">
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>

        <div class="col-md-6">
          <input id="password" formControlName="password" type="password" class="form-control" name="password" required autocomplete="new-password">
        </div>
      </div>

      <div class="form-group row">
        <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Повторите пароль</label>

        <div class="col-md-6">
          <input id="password-confirm" formControlName="password_confirmation" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
        </div>
      </div>

      <div class="form-group row mb-0">
        <div class="col-md-6 offset-md-4">
          <button type="submit" class="btn btn-primary">
            Зарегистрироваться
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
