<div class="row d-flex">
  <div class="col-lg-8 col-xs-12 d-flex flex-column">
    <app-cards
      [cards]="allCards$ | async"
      [totalCards]="total$ | async"
      [currentPage]="currentPage$ | async"
      [perPage]="24"
    ></app-cards>
  </div>
  <div class="col-lg-4 col-xs-12">
    Heroes
    <ng-select [items]="heroes$ | async"
               bindLabel="name"
               placeholder="Выберите героя"
               bindValue="id"
               [(ngModel)]="filters.heroes">
    </ng-select>
    Races
    <ng-select [items]="races$ | async"
               bindLabel="name"
               placeholder="Выберите расу"
               bindValue="id"
               [(ngModel)]="filters.race">
    </ng-select>
    Rarities
    <ng-select [items]="rarities$ | async"
               bindLabel="name"
               placeholder="Выберите редкость"
               bindValue="id"
               [(ngModel)]="filters.rarity">
    </ng-select>
    Types
    <ng-select [items]="types$ | async"
               bindLabel="name"
               placeholder="Выберите тип"
               bindValue="id"
               [(ngModel)]="filters.type">
    </ng-select>
    Mechanics
    <ng-select [items]="mechanics$ | async"
               bindLabel="name"
               placeholder="Выберите механику"
               bindValue="id"
               [(ngModel)]="filters.mechanic">
    </ng-select>
  </div>
</div>
