<div class="row d-flex">
  <div class="col-lg-8 col-xs-12 d-flex flex-column">
    <app-cards
      [cards]="allCards$ | async"
      [totalCards]="total$ | async"
      [currentPage]="currentPage$ | async"
      [perPage]="24"
    ></app-cards>
  </div>
  <div class="col-lg-4 col-xs-12 filters">
    <label for="heroes">Герой</label>
    <ng-select [items]="heroes$ | async"
               id="heroes"
               bindLabel="name"
               placeholder="Выберите героя"
               bindValue="id"
               [(ngModel)]="filters.heroes">
    </ng-select>
    <label for="races">Раса</label>
    <ng-select [items]="races$ | async"
               id="races"
               bindLabel="name"
               placeholder="Выберите расу"
               bindValue="id"
               [(ngModel)]="filters.race">
    </ng-select>
    <label for="rarity">Редкость</label>
    <ng-select [items]="rarities$ | async"
               id="rarity"
               bindLabel="name"
               placeholder="Выберите редкость"
               bindValue="id"
               [(ngModel)]="filters.rarity">
    </ng-select>
    <label for="rarity">Тип</label>
    <ng-select [items]="types$ | async"
               id="type"
               bindLabel="name"
               placeholder="Выберите тип"
               bindValue="id"
               [(ngModel)]="filters.type">
    </ng-select>
    <label for="mechanic">Механика</label>
    <ng-select [items]="mechanics$ | async"
               id="mechanic"
               bindLabel="name"
               placeholder="Выберите механику"
               bindValue="id"
               [(ngModel)]="filters.mechanic">
    </ng-select>

    <div class="d-grid gap-2 mt-4">
      <button class="btn btn-primary" type="button" (click)="filteredCards()">Найти</button>
    </div>
  </div>
</div>
